body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.errorContainer {
  border: thin solid red;
  margin: 15px;
  padding: 15px;
}

.successContainer {
  border: thin solid green;
  margin: 15px;
  padding: 15px;
}